*{
  box-sizing: border-box;
}
:root {
    --primary-color: #FED001;
}




html {
    font-size: 62.5%;
    /* SCROLL SUAVE */

  scroll-behavior:smooth;
  
}

a,
p {
    font-size: 1.6rem;
}


h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}


h3 {
    font-size: 3.2rem;
}

.title {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    text-align: center;
    z-index: 2;
    font-family: 'Anton', sans-serif;
    font-size: 5rem;
    /* Ajuste conforme necessário */
    font-weight: bold;
    /* Anton já é bold */
    letter-spacing: 2px;
    /* Opcional: espaçamento entre letras */
    color: rgb(255, 252, 252);
    /* Ou branco, dependendo do fundo */
    text-transform: uppercase;
    /* Deixa tudo em MAIÚSCULAS */




}



.section_title {
    padding: 3.5rem 0;
    text-align: center;
}

.spance_btn {
    margin: 3.5rem 0;

}

.btn {
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem 4.6rem;
    display: inline-block;
    color: inherit;
}

.warapperConatiner {
    padding-top: 1px;
}


.wrapperContainer-relative {
    position: relative;
    top: 0;

}

.wrapperContainer-padded {
    padding-top: 12rem;
}

#cursos {
    background-color: #FED001;
}




.warapperConatiner-dark {
    background-color: #2A2A2A;
    color: #fafafa;
}

.wrapperContainer-light {
    background-color: #fafafa;
}

.wrapperContainer-dark2 {
    background-color: #76a3ce;
    color: #fafafa;
}

.wrapperContainer-dark {
    background-color: #2A2A2A;
}

.container {
    display: flex;
    max-width: 127.6rem;
    margin: auto;
    justify-content: center;
}

.wrapperConatianer-hero {
    width: 100%;
    height: 100vh;

    background-image: url(../imagens/menbros-do-louvor.png);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}



.heroBaner {
    display: flex;
    font: unset;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}

.curso {
    margin: 0 auto;
    width: 80rem;
    height: 40rem;
    overflow: hidden;
}

.Container {
    height: 100vh;
    width: 739px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursoContainer img {
    width: 25%;
    height: 30rem;

}

.cursos__cards h3 {
    margin-top: 20px;
    max-width: 700px;
    font-size: 2.4rem;
}

.nova-geracao {
    text-align: center;
    width: 100vw;
    height: 100vh;
    /* altura total da tela */
    background: url("intercersao.png") center / cover no-repeat;

}




.cursos__cards img {
    display: block;
    /* width: 100%;
    height: 100vh; */
    border-radius: 10px;

}

.cursos_cards_content {
    padding: 1rem;
    width: 80%;

}


.escola {
    display: flex;
    gap: 6rem;
    padding-top: 5rem;
}


.school__title {
    font-size: 3.2rem;
    margin-top: 9rem;

}

.escola p {
    font-size: 1.8rem;
    line-height: 1.5;
}


.contatos {
    text-align: center;
}

footer {
    padding: 2rem;
    text-align: center;
}


footer a {
    font-size: 2rem;
    margin-left: 8px;
    text-decoration: none;
    color: var(--primary-color);
}

span {

    font-size: 2rem;
    color: inherit;

}

.box-imagem {
    position: relative;
    /* ESSA LINHA É A CHAVE */
    width: 1000px;
    /* mesma largura da imagem */
    margin: 80px auto;
    /* isso empurra ela pra baixo */
}

.box-imagem img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.linha-preta {
    width: 100%;
    height: 7px;
    background-color: rgb(255, 251, 0);
}

.linha-preta2 {
    width: 100%;
    height: 3px;
    background-color: black;
}

.grade-conteudo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 400px;
    /* altura do espaço */
    border: 4px solid orange;
}

.grade-conteudo div {
    border: 2px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    font-size: 50px;
    color: #ffd966;
}

.botao {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: #e63946;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.linha-preta3 {
    width: 100%;
    height: 7px;
    background-color: rgb(247, 223, 7);
}



.mensagem{
background:white;
padding:30px;
text-align:center;
border-radius:8px;
}
.versiculo{
position:absolute;
top:45%;
left:50%;
transform:translate(-50%,-50%);
font-size:20px;
background:rgba(0,0,0,0.6);
color:white;
padding:10px 20px;
border-radius:5px;
}
.hero{
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.conteudo{
  position: relative;
  text-align: center;
  color: white;
  top: 40%;
  transform: translateY(-50%);
}



@keyframes cair {
  0% {
    transform: translateY(-50px);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

body {
  margin: 0;
  
    background-color: #000;
    color: white; /* deixa os textos brancos */
    margin: 0;
    padding: 0;
}




/* logo */
.logo {
  height: 40px;
}

/* menu central */
nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: yellow;
  border: 1px solid yellow;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 5px;
}

/* lado direito */
.direita {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card {
  width: 350px;
  background: #3f568f;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* TEXTO DE CIMA */
.topo h2 {
  color: yellow;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

/* FAIXA AZUL */
.faixa {
  background: #2e4372;
  padding: 15px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

/* BOTÃO */
.btn-ver {
  background: yellow;
  color: black;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-ver:hover {
  transform: scale(1.1);
}



#texto {
  color: gold;
  font-size: 28px;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

.card {
  background: #111;
  border-radius: 15px;
  padding: 25px;
  width: 220px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  border: 1px solid #222;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.4);
}

.data {
  position: absolute;
  top: 15px;
  right: 15px;
  background: gold;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 12px;
}

.card h3 {
  margin-top: 20px;
  color: gold;
}

.card p {
  margin: 10px 0;
}

.card button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: gold;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.card button:hover {
  background: #ffd700cc;
}
.visao {
  position: relative;
  background: black;
  color: white;
  padding: 80px 20px;
  overflow: hidden;
}

/* imagem das pessoas */
.pessoas {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  opacity: 0.8;

  /* efeito fade */
  mask-image: linear-gradient(to left, black 60%, transparent);
  -webkit-mask-image: linear-gradient(to left, black 60%, transparent);
}

/* texto */
.texto {
  max-width: 600px;
  z-index: 2;
  position: relative;
}

.texto span {
  color: #FF5A00;
  font-weight: bold;
}

.texto h2 {
  margin-top: 15px;
  line-height: 1.6;
  font-size: 24px;
}
.mapa {
  padding: 60px 20px;
  background: #0a0a0a;
  text-align: center;
  color: white;
}

.mapa h2 {
  font-size: 36px;
  color: gold;
  margin-bottom: 40px;
}

.mapa-card {
  background: #111;
  border-radius: 15px;
  overflow: hidden;
  max-width: 600px;
  margin: auto;
  border: 1px solid #222;
  transition: 0.3s;
}

.mapa-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.4);
}

.mapa-card iframe {
  width: 100%;
  height: 250px;
  border: none;
}

.info {
  padding: 20px;
}

.info h3 {
  color: gold;
  margin-bottom: 10px;
}

.info button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background: gold;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.oracao {
  padding: 60px 20px;
  text-align: center;
  background: black;
}

.oracao h2 {
  color: #FFD700;
  font-size: 36px;
  margin-bottom: 30px;
}

.oracao-box {
  max-width: 500px;
  margin: auto;

  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);

  border: 2px solid #FFD700;
  border-radius: 20px;

  padding: 30px;

  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.oracao-box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.oracao-box input,
.oracao-box textarea {
  padding: 12px;
  border-radius: 12px;
  border: 2px solid #FFD700;
  background: transparent;
  color: white;
  outline: none;
}

.oracao-box textarea {
  height: 120px;
  resize: none;
}

.oracao-box button {
  background: #FFD700;
  color: black;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.oracao-box button:hover {
  background: white;
  transform: scale(1.05);
}
/* Fundo geral */
.eventos {
  background: #000;
  padding: 80px 0;
}

/* Container central (o quadrado preto) */
.container {
  width: 100%;
  max-width: 900px; /* controla largura igual ao seu layout */
  margin: 0 auto;
  text-align: center;
}

/* Título */
.container h2 {
  color: #ffd700;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

/* Caixa do botão */
.box-botao {
  background: #0a0a0a;
  border-radius: 15px;
  padding: 50px;
  margin: 0 auto;

  /* deixa igual os cards */
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

/* Botão */
.botao-agenda {
  display: inline-block;
  background: #ffd700;
  color: #000;
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

/* Hover */
.botao-agenda:hover {
  background: #fff;
  transform: scale(1.05);
}
.agenda {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 40px 0;
  background-color: #000;
}
.agenda .cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.botao-musica {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: gold;
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.botao-musica:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px gold;
}
#topo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: gold;
  color: black;
  border: none;
  padding: 12px 15px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: none;
  z-index: 999;
}

#topo:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px gold;
}


.instagram-media {
  width: 100% !important;
  max-width: 100% !important;
  margin: auto !important;
}

.agenda {
  padding: 60px 20px;
  text-align: center;
}

.agenda h2 {
  color: #FFD700;
  font-size: 32px;
  margin-bottom: 30px;
}

.agenda-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.evento {
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid #FFD700;
  border-radius: 15px;
  padding: 20px;
  width: 220px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.evento:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px #FFD700;
}

.evento h3 {
  color: #FFD700;
  margin-bottom: 10px;
}

.evento p {
  color: #fff;
  margin-bottom: 10px;
}

.evento span {
  background: #FFD700;
  color: #000;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: bold;
}

.linha-preta6 {
    width: 100%;
    height: 7px;
    background-color: rgb(247, 223, 7);
}


.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 15s infinite alternate;
}

@keyframes zoom {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.hero-content {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.hero h1 {
  font-size: 50px;
  color: #FFD700;
}

.hero p {
  margin: 15px 0;
  font-size: 18px;
}

.botoes {
  margin-top: 20px;
}

.btn {
  background: #FFD700;
  color: #000;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 5px;
  text-decoration: none;
}

.btn-outline {
  border: 2px solid #FFD700;
  color: #FFD700;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 5px;
  text-decoration: none;
}

.menu a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  padding: 8px 15px;
  border-radius: 8px;
  transition: 0.3s;
  font-weight: 500;
}

.menu a:hover {
  background: #FFD700;
  color: #000;
}

/* botão ativo */
.menu .ativo {
  background: #FFD700;
  color: #000;
}

/* efeito linha embaixo */
.menu a::after {
  content: "";
  display: block;
  height: 2px;
  background: #FFD700;
  width: 0%;
  transition: 0.3s;
  margin-top: 5px;
}

.menu a:hover::after {
  width: 100%;
}











.cards {
  display: flex;
  height: 100vh;
}

.card {
  position: relative;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

/* ESCURECE A IMAGEM */
.card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}

/* TEXTO */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  text-align: center;
  color: white;
  z-index: 2;
}

.overlay h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #FFD700;
}

.overlay p {
  margin-bottom: 20px;
}

.overlay button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.overlay button:hover {
  background: #FFD700;
}

/* EFEITO INSANO 🔥 */
.card:hover {
  flex: 2;
}

.card:hover img {
  transform: scale(1.1);
}










.footer {
  background: linear-gradient(90deg, #1e1e1e, #2c2c2c);
  color: #ccc;
  text-align: center;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
  border-top: 2px solid #444;
  overflow: hidden;
}


.texto {
  opacity: 0;
  transform: translateY(20px);
  animation: subir 1s ease forwards;
}

@keyframes subir {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.nome {
  color: #ffd700;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}


.nome::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: #ffd700;
  transition: 0.4s;
}


.nome:hover {
  color: #fff;
  text-shadow: 0 0 10px #ffd700;
}

.nome:hover::after {
  width: 100%;
}


@media (max-width: 768px) {

  .hero h1 {
    font-size: 32px;
  }

  .texto h2 {
    font-size: 20px;
  }

  .cards {
    flex-direction: column;
    height: auto;
  }

  .card {
    height: 300px;
  }

}















.stats{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
    padding:80px 20px;
    background:black;
}

.stat{
    text-align:center;
}

.stat h2{
    color:#FFD700;
    font-size:60px;
}

.stat p{
    color:white;
}



/* Mobile */
@media (max-width: 768px) {

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .card {
        width: 90%;
        max-width: 350px;
        height: auto;
        padding: 20px;
    }

    .card h2 {
        font-size: 2.8rem;
    }

    .card p {
        font-size: 1.6rem;
    }

    .card button {
        width: 120px;
        height: 40px;
        font-size: 1.4rem;
    }

    footer {
        text-align: center;
        padding: 20px;
    }

    footer p {
        font-size: 1.4rem;
    }
}




.igreja{
    min-height: 80vh;
    background: linear-gradient(135deg,#000,#111,#000);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:80px;
    overflow:hidden;
    border-top:4px solid #ffe600;
}

.texto{
    max-width:600px;
}

.texto span{
    color:#ff7b00;
    font-weight:bold;
    letter-spacing:3px;
}

.texto h2{
    color:white;
    font-size:4.8rem;
    margin:20px 0;
    line-height:1.2;
}

.texto p{
    color:#ccc;
    font-size:1.8rem;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    background:#ffe600;
    color:black;
    padding:15px 35px;
    border-radius:50px;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-5px);
    box-shadow:0 0 25px #ffe600;
}

.imagem{
    position:relative;
}

.imagem::before{
    content:"";
    position:absolute;
    width:350px;
    height:350px;
    background:#ffe600;
    filter:blur(150px);
    opacity:.25;
    z-index:0;
}

.imagem img{
    position:relative;
    z-index:1;
    max-width:500px;
}
/* RESPONSIVO */
@media (max-width: 768px){

    .igreja{
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
        gap: 40px;
        min-height: auto;
    }

    .texto{
        max-width: 100%;
    }

    .texto span{
        font-size: 1.4rem;
    }

    .texto h2{
        font-size: 2.8rem;
        line-height: 1.3;
    }

    .texto p{
        font-size: 1.6rem;
    }

    .btn{
        padding: 12px 25px;
        font-size: 1.4rem;
    }

    .imagem img{
        width: 100%;
        max-width: 320px;
        height: auto;
    }

    .imagem::before{
        width: 220px;
        height: 220px;
    }
}



.agenda-section{
    padding: 80px 8%;
    background: #0b0b0b;
}

.agenda-titulo{
    text-align:center;
    color:#fff;
    font-size:3rem;
    margin-bottom:50px;
}

.agenda-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.evento-card{
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:25px;
    overflow:hidden;
    transition:.4s;
}

.evento-card:hover{
    transform:translateY(-12px);
}

.evento-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.evento-info{
    padding:25px;
}

.evento-info h3{
    color:#fff;
    margin-bottom:10px;
    font-size:1.5rem;
}

.evento-info p{
    color:#cfcfcf;
    margin-bottom:15px;
}

.evento-info span{
    background:#FFD700;
    color:#000;
    padding:8px 18px;
    border-radius:30px;
    font-weight:700;
}

.destaque{
    border:2px solid #FFD700;
    box-shadow:0 0 25px rgba(255,215,0,.4);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    max-width: 1200px;

    margin: 20px auto;
    padding: 15px 25px;

    background: rgba(0,0,0,0.8);
    border: 2px solid #FFD700;
    border-radius: 20px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 70px;
    height: auto;
}

/* MOBILE */
@media (max-width: 768px){

    .header{
        flex-direction: column;
        padding: 20px;
        gap: 15px;
    }

    .logo img{
        width: 60px;
    }

    .menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .menu a{
        padding: 10px 15px;
        font-size: 14px;
    }
}



